
            <h1 style="color: #ffffff; font-size: 55px; font-family: Archia, sans-serif; font-style: normal; font-weight: 300; display: block; text-align: left">We Underwrite Catastrophe Risks</h1>
            <br>
            <p>
                <span class="large" style="color: #ffffff;">Hurricanes, earthquakes, tornadoes, fire, and similar perils in the U.S.</span>
            </p>
            <br>
            <p style="color: #ffffff;">
            Velocity offers innovative ways for properties and business owners to transfer risk to global capital sources, especially in areas where it’s very hard to get coverage. We work with brokers, agents, and major industry capital providers. We combine human expertise with data analytics and technology to provide outstanding underwriting service and exceptional claims management.   
            </p>
 